<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>인덱스 페이지 입니다</h1>

    <a href="{% url 'create' %}">물건 올리기</a>
    
    {% for item in all_items %}
    <div style="border: 1px solid black; width: 250px; height: 300px;">
        {{item.name}}<br/>
        {{item.price}}<br/>
        <a href="{% url 'detail' item.id %}">상세보기</a>
    </div>
    {% endfor %}
</body>
</html>